*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    border: #686464 1px solid;
    width: 1000px;
    text-align: center;
}
table td{
    border: #686464 1px solid;
    padding: 15px 10px;
    margin: 0;
}
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
    p0
}
.flex-col{
    flex-direction: column;
}
.grid{
    display: grid;
}
.grid-cols-2{
    grid-template-columns: repeat(1fr, 1fr);
}
.form-card{
    background: white;
    border: none;
    border-radius: 12px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.gap-5{
    gap: 20px;
}
.mt-5{
    margin-top: 20px;
}
.mb-5{
    margin-bottom: 20px;
}
.px-5{
    padding: 0px 20px;
}
.text-center{
    text-align: center;
}
.form-control-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100vw;
    height: 90vh;
}
.btn{
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 5px 10px;
}
.btn-block-light{
    width: 350px;
    background: lightgray;
    color: rgb(32, 30, 30);
    font-weight: 300;
    font-size: 25px;
}
.input-style{
    border: black solid 0.5px ;
    padding: 5px 8px;
    width: 350px;
    height: 45px;
}
.navigation{
    height: 80px;
    width: 100vw;
    background-color: #2c2a2a;
    color: #e6dede;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items .nav-item{
    padding: 0px 15px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #e6dede;
    font-size: 22px;
}
a{
    text-decoration: none;
}
.main .aside-nav{
    height: 90vh;
    background-color: #686464;
    width: 20vw;
}
.aside-nav-items .nav-item{
    height: 40px;
    text-align: center;
    margin-top: 5px;
    border-bottom: 2px solid #e6dede;
}
.aside-nav-items .nav-item:hover, .nav-link:hover{
    background-color: white;
    color: #2c2a2a;
}
.content{
    display: grid;
    grid-template-columns: 500px 500px;
    place-items: center;
}
.card{
    background: white;
    border: none;
    border-radius: 12px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px ;
}
.card-create-forecast{

}