*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-col{
    flex-direction: column;
}

.form-card{
    background: white;
    border: none;
    border-radius: 12px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.gap-5{
    gap: 20px;
}
.mt-5{
    margin-top: 20px;
}
.mb-5{
    margin-bottom: 20px;
}
.px-5{
    padding: 0px 20px;
}
.text-center{
    text-align: center;
}
.form-control-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100vw;
    height: 100vh;
}

.btn{
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 5px 10px;
}

.btn-block-light{
    width: 350px;
    background: lightgray;
    color: rgb(32, 30, 30);
    font-weight: 300;
    font-size: 25px;
}

.input-style{
    border: black solid 0.5px ;
    padding: 5px 8px;
    width: 350px;
    height: 45px;
}
.navigation{
    height: 80px;
    width: 100vw;
    background-color: #2c2a2a;
    color: #e6dede;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-items .nav-item{
    padding: 0px 15px;
    list-style: none;
}
.nav-items .nav-item .nav-link{
    text-decoration: none;
    color: #e6dede;
    font-size: 22px;
}


