{% extends "base.html" %}

{% block content %}
<div class="flex flex-center main ">
    
    <form method="POST" name="create_user" class="flex flex-col flex-center form-card px-5">
<h1 class="text-center">Create New User</h1>

        <div class="flex flex-col gap-5">
            <input type="text" name="username" id="username" placeholder="Create username" class="mt-5 input-style">
            <input type="password" name="password" id="password" placeholder="Create password" class="mb-5 input-style">
        </div>
        <div>
            <input type="submit" value="Login" class="btn btn-block-light mb-5">
        </div>
    
    </form>
</div>

{% endblock %}