{% extends "base.html" %}

{% block content %}

<div class="flex flex-center main ">
    <form method="POST" class="flex flex-col flex-center form-card px-5">
<h1 class="text-center">Login</h1>

        <div class="flex flex-col gap-5">
            <input type="text" name="username" id="username" placeholder="Enter username" class="mt-5 input-style" required>
            <input type="password" name="password" id="password" placeholder="Enter password" class="mb-5 input-style"  required>
        </div>
        
        <div>
            <input type="submit" value="Login" class="btn btn-block-light mb-5">
        </div>
    
    </form>
</div>
{% endblock %}