{% extends "base.html" %}

{% block content %}
<div class="flex flex-center main ">
    <form method="post" class="flex flex-col flex-center form-card px-5">
        <div class="flex flex-col gap-5">
            <input type="text" name="username" id="username" placeholder="Enter username" class="mt-5">
            <input type="password" name="password" id="password" placeholder="Enter password">
        </div>
        
            <input type="submit" value="Login" class="btn btn-block-light mb-5">
    
    </form>
</div>
{% endblock %}