{% extends "base.html" %}
{% block content %}

<div class="main flex">
    <div class="aside-nav">
        <ul class="aside-nav-items">
            <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Dashoard</a></li>
            <li class="nav-item"><a href="{{url_for('createUser')}}" class="nav-link">Create User</a></li>
        </ul>
    </div>
    <div class="">
       <h1> {{msg}} </h1>
           
        <table>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
               
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user['id']}}</td>
                <td>{{user['username']}}</td>
                <td>{{user['password']}}</td>
               
            </tr>
        {% endfor %}
            
        </table>
       
          
    </div>
</div>

{% endblock %}